@import './variables.scss';

/*---------------------- GOOGLE fonts ----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/*---------------------- FONTawesome ----------------------*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');

// ---------------------- RESET ----------------------/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

// ---------------------- COMMON ----------------------/
body {
    background-color: rgb(0, 0, 0);
    font-family: "Roboto";
    
}
header {
    // margin-top: 100px;
    margin-bottom: 100px;
}